// ----------------------------------------------------------------------------
// Prizes
// ----------------------------------------------------------------------------

.prizes {
  background-color: $gray;
  padding: space(12) 0;
  text-align: center;
}

.prizes__list {
  margin-top: space(6);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;

  @include bp(small) {
    flex-direction: row;
  }
}

.prizes__item {
  margin-left: space(6);
  margin-right: space(6);
  margin-bottom: space(4);

  @include bp(small) {
    width: calc(33% - #{space(6) + space(6)});
  }

  img {
    max-width: 100%;
  }

  @include bp(medium) {
    margin-bottom: 0;
  }

  p {
    margin-top: space(4);
  }
}
